<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <title>Zmiana hasła</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='change-password.js') }}"></script>
</head>
<body>
<div class="login-container">
    <h2 class="login-title">Zmiana hasła</h2>
    <form id="changePassForm" class="login-form">
        <input id="newPassword" type="password" class="form-control login-input login-light" placeholder="Nowe hasło" required>
        <input id="repeatPassword" type="password" class="form-control login-input password-light" placeholder="Powtórz nowe hasło" required>
        <button type="submit" class="btn login-btn">Zmień</button>
    </form>
    <div id="changePassMsg" style="text-align: center; margin-top: 15px;"></div>
    <a href="/"  class="btn login-btn" id="btnBackMenu">Wróć do menu</a>
</div>
</body>
</html>
