<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <title>System Parkingowy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
{% if not session.get("user") %}
    <!-- Ekran logowania -->
    <div id="loginPage" class="login-container">
      <h2 class="login-title">Zarządzanie parkingiem</h2>
      <form id="loginForm" class="login-form">
        <input id="loginField" type="text" class="form-control login-input login-light" placeholder="Login" required />
        <input id="passwordField" type="password" class="form-control login-input password-light" placeholder="Hasło" required />
        <button type="submit" class="btn login-btn">Zaloguj</button>
      </form>
    </div>
{% else %}
    <!-- Panel główny -->
    <div id="mainPage" class="main-container">
      <div class="main-title">Zarządzanie parkingiem</div>
      <div class="content">
        <div class="map-container">
          <object id="parkingMap" data="{{ url_for('static', filename='mapa.svg') }}" type="image/svg+xml"></object>
        </div>
        <div class="right-panel">
          <div class="info-box styled-box">
            <div><span class="label">Dostępne</span> <span class="green-big">10</span></div>
            <div><span class="label">Zajęte</span> <span class="red-big">53</span></div>
            <div><span class="label">Procent zajętych</span> <span class="red-big">84%</span></div>
          </div>
          <div class="info-box styled-box">
            <div class="label">Dostępne:</div>
            <div>Sektor A <span class="green-big">4</span></div>
            <div>Sektor B <span class="green-big">5</span></div>
            <div>Sektor C <span class="green-big">3</span></div>
          </div>
          {% if session.get("role") == "manager" %}
              <a href="#" class="btn login-btn" id="btnEdit">Edycja miejsc</a>
              <a id="btnWorkers" class="btn login-btn" href="/manage-workers">Zarządzaj pracownikami</a>
          {% else %}
              <div style="height: 45px"></div>
              <div style="height: 45px"></div>
          {% endif %}
          <a href="/change-password" class="btn login-btn" id="btnChangePass">Zmiana hasła</a>
          <a href="#" class="btn login-btn btn-logout btn-danger">Wyjście</a>
        </div>
      </div>
    </div>
{% endif %}
<!-- Komunikat LED -->
<div id="ledMessageContainer" style="display: none;"></div>
</body>
</html>
